$gray: #888;

.section {
  margin: 1em;
}

textarea#tweet_body {
  width: 100%;
}

.red {
  color: red;
}

.ch-tweet-list {
  list-style: none;
  margin: 1em auto;
  border-bottom: 1px dotted $gray;
  padding-bottom: 1em;

  .dropdown, .ch-tweet-date {
    float: right;
    color: $gray;
    padding: 0.5em;
    min-width: 0px;
  }

  .dropdown-menu {
    min-width: 0px;
  }

  .ch-tweeter {
    float: left;
    font-weight: bold;
  }

  .ch-tweet-body {
    clear: both;
    padding-top: 1em;
  }

  .dropdown-menu>li>a {
    padding: 3px 10px;
  }

  .own-false {
    display: none;
  }
}

#ch-tweet-form {
  padding: 1em;
  #ch-tweet-button {
    float: left;
    margin: 0 0 3px 3px;
  }
  #limit {
    float: right;
    margin: 0 3px 3px 0;
  }
}

.media-body {
  padding-left: 1.5em;
}
